/*stylesheet*/

body {
	margin: 5px;
	background: #EBF6FF;
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

#heading {
	font-family: 'Droid Serif';
	padding: 0;
	padding-top: 1em;
	margin: 0;
	text-align: left;
	color: #006699;
	font-size: 40px;
}

#underline {
	font-family: 'Droid Serif';
	padding: 0;
	padding-top: 1em;
	padding-bottom: 0.5em;
	margin: 0;
	text-align: left;
	color: #006699;
	font-size: 35px;
	text-decoration: underline;
}

h2 {
	font-family: 'Droid Serif';
	color: #006699;
	text-align: left;
	margin: 0;
	font-size: 30px;
}

h3 {
	font-family: 'Droid Serif';
	color: white;
	text-align: center;
	margin: 0;
	font-size: 20px;
}

#home {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

p {
	font-weight: 200;
}

#wrapper {
	margin: 1em auto;
	max-width: 1600px;
	
}

#main {
	background: #EBF6FF;
	margin: 20px;
	padding: 20px;
}

#sidebar {
}

#content {
	padding-bottom: 0;
	padding-left: 1em;
}

#logo {
	padding: 2em 0;
}

#logo h1 {
	margin: 0;
}

#logo img {
	width: 100%;
	height: auto;
}

.menu-button {
	background-color: transparent;
	color: #006699;
	padding: 10px;
	margin: auto;
	font-size: 15px;
	cursor: pointer;
	border: 3px solid #006699;
	border-top-right-radius: 15px; 
	border-top-left-radius: 15px;
	width: 80%;
}

.left-menu {
	width: 80%;
	position: relative;
	display: inline-block;
	margin: auto;
	padding-top: 10px;
}

.dropdown-menu {
	display: none;
	position: relative;
	background-color: #006699;
	width: 80%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin: auto;
	z-index: 1;
	text-align: center;
}

.dropdown-menu a {
	color: #EBF6FF;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-menu a:hover{
	background-color: #EBF6FF;
	color: #006699;
}

/* active (button click animation)
.dropdown-menu a:active {
  background-color: #EBF6FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
*/

.left-menu:hover .dropdown-menu {
	display: block;
}

.left-menu:hover .menu-button {
	background-color: transparent;
}

#box {
	margin: 1em auto;
	padding: 1em;
	border: 3px solid black;
	border-color: #006699;
	/*background: papayawhip;*/
	border-radius: 20px;
	height: 100px;
	text-align: justify;
}

.item img {
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

.center {
	display: block;
	margin: auto;
	/*width: 50%;*/
}

/* CARD FOR SPOTIFY */
.spotify {
  	float: left;
  	width: 380px;
  	padding: 0 10px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: row;
}

.row {
	margin: 0 -5px;
}

.row:after {
  	content: "";
  	display: table;
  	clear: both;
}

.card {
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* this adds the "card" effect */
 	padding: 10px;
 	border-top-right-radius: 15px; 
	border-top-left-radius: 15px;
  	text-align: center;
  	background-color: #EBF6FF;
  	justify-content: center;
}


/*spotify caption card*/
@media (max-width: 1200px) {
	.spotify {
		max-width: auto;
		height: auto;
		display: block;
		margin-bottom: 20px;
	}
}

/*project presentation*/
#projects {
	margin-bottom: 1em;
}

#projects .grid-item {
	color: white;
	position: relative;
}

#projects .grid-item img {
	display: block;
	width: 100%;
	height: auto;
}

#projects .grid-item .overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	display: flex;
	align-items: center;
	justify-content: center;
}

#projects .grid-item:hover .overlay {
	opacity: 1;
	transition: all .3s ease-in-out;
}

#projects .grid-item .overlay .project-title h3 {
	margin-bottom: 0;
	margin-top: 10px;
	padding: 10px;
}

/*mobile view styles*/
@media (max-width: 699px) {
	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}

	#sidebar {
		border: 0px;
	}

	#heading {
		text-align: center;
	}

	h2 {
		text-align: center;
	}

	p {
		text-align: center;
	}

	#underline {
		text-align: center;
	}

	#home {
		text-align: center;
	}

	.menu-button {
		min-width: 300px;
	}

	.left-menu {
		min-width: 300px;
	}

	.dropdown-menu {
		min-width: 300px;
	}

	.spotify {
		display: flex;
		width: auto;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}
	
}