/*stylesheet*/

body {
	margin: 5px;
	background: #333333;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

#heading {
	font-family: 'Droid Serif';
	padding: 0;
	padding-top: 1em;
	margin: 0;
	text-align: left;
	color: white;
	font-size: 40px;
}

#underline {
	font-family: 'Droid Serif';
	padding: 0;
	padding-top: 1em;
	padding-bottom: 0.5em;
	margin: 0;
	text-align: left;
	color: #333333;
	font-size: 35px;
	text-decoration: underline;
}

h2 {
	font-family: 'Droid Serif';
	color: white;
	text-align: left;
	padding-bottom: 1em;
	margin: 0;
	font-size: 30px;
}

#index h2 {
	font-family: 'Droid Serif';
	color: #333333;
	text-align: left;
	padding-bottom: 1em;
	margin: 0;
	font-size: 30px;
}

#home {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

p {
	font-weight: 200;
	margin-left: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

#wrapper {
	margin: 1em auto;
	max-width: 1600px;
}

#main {
	background: #333333;
	margin: 30px;
	padding: 20px;
}

#sidebar {
}

#logo {
	padding: 2em 0;
}

#logo h1 {
	margin: 0;
}

#logo img {
	width: 100%;
	height: auto;
}

.menu-button {
	background-color: transparent;
	color: white;
	padding: 10px;
	margin: auto;
	font-size: 15px;
	cursor: pointer;
	border: 3px solid white;
	border-top-right-radius: 15px; 
	border-top-left-radius: 15px;
	width: 80%;
}

.left-menu {
	width: 80%;
	position: relative;
	display: inline-block;
	margin: auto;
	padding-top: 10px;
}

.dropdown-menu {
	display: none;
	position: relative;
	background-color: white;
	width: 80%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin: auto;
	z-index: 1;
	text-align: center;
}

.dropdown-menu a {
	color: #333333;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-menu a:hover{
	background-color: #333333;
	color: white;
}

.left-menu:hover .dropdown-menu {
	display: block;
}

.left-menu:hover .menu-button {
	background-color: transparent;
}

.item {
	margin-bottom: 2em;
}

.item img {
	width: 100%;
	height: auto;	
}

#content {
	padding-bottom: 0;
	padding-left: 1em;
}

.center {
	display: block;
	margin: auto;
	/*width: 50%;*/
}

.column {
  float: left;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* P2 exquisite corpse */
#exquisite {
	position: relative;
	margin-bottom: 2em;
	margin-top: 0;
	width: 100%;
}

#exquisite .grid {
	grid-gap: 0;
}

#exquisite .grid img {
	display: block;
	margin-bottom: s0;
	margin-top: 0;
	width: 100%;
}

h3 {
	font-weight: 400;
	margin-left: 0;
	margin-bottom: 10px;
	margin-right: 0;
}

ul.a {
	list-style-type: circle;
	font-weight: 200;
}

ol.b {
	list-style-type: upper-roman;
	font-weight: 200;
}

/* unvisited link */
a.pin:link {
  color: white;
}

/* visited link */
a.pin:visited {
  color: black;
}

/* mouse over link */
a.pin:hover {
  color: hotpink;
}

/* selected link */
a.pin:active {
  color: blue;
}

/*project text*/
@media (max-width: 1050px) {
	.column {
		width: 100%;
	}
	

/*for mobile view*/
@media (max-width: 699px) {
	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}

	#sidebar {
		border: 0px;
	}

	#heading {
		text-align: center;
	}

	h2 {
		text-align: center;
	}
	
	p{
		text-align: center;
	}

	#textcontent {
		padding: 0;
	}
	
	#box {
		padding: 0em auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		text-align: center;
	}

	.menu-button {
		min-width: 300px;
	}

	.left-menu {
		min-width: 300px;
	}

	.dropdown-menu {
		min-width: 300px;
	}

	.column {
		width: 100%;
	}

}

@media (min-width: 700px) {
	.item img.right-img {
		width: 50%;
		float: right;
		padding: 0 0 2em 2em;
	}
}