/*stylesheet*/

body {
	margin: 20px;
	background: #006699;
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 400;

}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

@font-face {
	font-family: 'evergreen';
	src: url('fonts/Evergreen.otf');
}

h1 {
	padding-top: 10px;
	color: #006699;
	/*font-family: 'Evergreen';*/
	font-family: 'Chewy', cursive;
	text-align: center;
}

h2 {
	font-weight: 700;
	color: #006699;
	text-align: center;
	font-style: italic;
}

p {
	font-weight: 200;
}

#wrapper {
	margin: 2em auto;
	max-width: 1500px;
	
}

#main {
	background: #EBF6FF;
	margin: 50px;
	padding: 30px;
	border-radius: 30px;
}

#sidebar {
	border-right-color: #006699;
}

#logo {
	padding: 2em 0;
}

#logo h1 {
	margin: 0;
}

#logo img {
	width: 75%;
	height: auto;
}

/*
.project1 {
	margin: 1.5em;
	border: 3px solid black;
	border-color: #006699;
	border-radius: 20px;
	text-align: left;
	text-indent: 10px;
	font-weight: 300;
	color: #006699;
	height: 1.5em; 
} */

.menu-button {
	background-color: transparent;
	color: #006699;
	padding: 10px;
	margin: auto;
	font-size: 15px;
	cursor: pointer;
	border: 2px solid #006699;
	border-top-right-radius: 15px; 
	border-top-left-radius: 15px;
	width: 150px;
}

.left-menu {
	position: relative;
	display: inline-block;
	margin: auto;
	padding: 15px;
}

.dropdown-menu {
	display: none;
	position: relative;
	background-color: #006699;
	width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin: auto;
	z-index: 1;
	text-align: center;
}

.dropdown-menu a {
	color: #EBF6FF;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-menu a:hover{
	background-color: #EBF6FF;
	color: #006699;
}

.left-menu:hover .dropdown-menu {
	display: block;
}

.left-menu:hover .menu-button {
	background-color: transparent;
}

#box {
	margin: 1em auto;
	padding: 1em;
	border: 3px solid black;
	border-color: #006699;
	/*background: papayawhip;*/
	border-radius: 20px;
	height: 100px;
	text-align: justify;
}

.item img {
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}

.center {
	display: block;
	margin: auto;
	/*width: 50%;*/
}

#heading {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
}

#content {
	/*background: steelblue;*/
}

@media (max-width: 699px) {
	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}

	#box {
		padding: 0em auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		text-align: center;
	}

	.menu-button {
		min-width: 300px;
	}

	.left-menu {
		min-width: 300px;
	}

	.dropdown-menu {
		min-width: 300px;
	}
}